body{
    padding:0;
    margin:0;
    font-family: sans-serif;
    overflow: visible;
}

.container{
    width: 100%;
    height: 15vh; 
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 25px 0;
    display: flex;
    align-items:center;
    justify-content:center;
    float: left;
}
.logo{
    width: 180px;
    height: 180px;
    cursor: pointer;
    margin-left: -700px;
    margin-top: -300px;
    
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    
}
.navbar ul li a{
    text-decoration:none;
    color:black;
    text-transform: uppercase;
    float: left;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
    
}

.icon1 img {
    width: 30px;
    height: 30px; 
    padding: 25px 0; 
    margin-top: -305px;
    margin-left: 600px;
}


.icon2 img {
    width: 25px;
    height: 20px; 
    padding: 25px 0; 
    margin-top: -305px;
    margin-left: 550px;
}

.icon3 img {
    width: 35px;
    height: 30px; 
    padding: 25px 0; 
    margin-top: -305px;
    margin-left: 500px;
}


.icon4 img {
    width: 25px;
    height: 20px; 
    padding: 25px 0; 
    margin-top: -305px;
    margin-left: 450px;
}
.banner1, .banner2 ,.banner3, .banner4{ 
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
        
}

img{
    width: 100%;
    height: 100%;
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);      
}

.text-box1{ 
    width: 400px;
    position: absolute;
    top: 150px;
    left: 1100px;
    color:white;
}

.text-box2{ 
    width: 400px;
    position: absolute;
    top: 150px;
    left: 100px;
    color:white;
}

.text-box3{ 
    width: 400px;
    position: absolute;
    top: 150px;
    left: 1100px;
    color:white;
}

.text-box4{ 
    width: 400px;
    position: absolute;
    top: 150px;
    left: 100px;
    color:white;
}


.text-box1 h1,.text-box2 h1, .text-box3 h1 , .text-box4 h1{
    margin-bottom: 40px;
    
}


.text-box1 p,.text-box2 p, .text-box3 p , .text-box4 p{
    font-size:  20px; 
    line-height: 18px;
    margin-top: 80px;
    
}

.text-box1 span,.text-box2 span, .text-box3 span , .text-box4 span{
    background: white;
    height: 1px;
    width: 100px;
    position: absolute; 
    left: 0; 
}

.banner1{
    animation: slide1 12s linear infinite;
    
}

.banner2{
    animation: slide2 12s linear infinite;
    
}

.banner3{
    animation: slide3 12s linear infinite;
    
}

.banner4{
    animation: slide4 12s linear infinite;
    
}

@keyframes slide1{
    0%{
        visibility: visible; 
    }
    25%{
        visibility: hidden; 
    }
    50%{
        visibility: hidden; 
    }
    75%{
        visibility: hidden; 
    }
    100%{
        visibility: visible; 
    }
    
}

@keyframes slide2{
    0%{
        visibility: hidden; 
    }
    25%{
        visibility: hidden; 
    }
    50%{
        visibility: visible; 
    }
    75%{
        visibility: hidden; 
    }
    100%{
        visibility: hidden; 
    }
    
}

@keyframes slide3{
    0%{
        visibility: hidden; 
    }
    25%{
        visibility: hidden; 
    }
    50%{
        visibility: hidden; 
    }
    75%{
        visibility: visible; 
    }
    100%{
        visibility: hidden; 
    }
    
}

@keyframes slide4{
    0%{
        visibility: hidden; 
    }
    25%{
        visibility: hidden; 
    }
    50%{
        visibility: hidden; 
    }
    75%{
        visibility: hidden; 
    }
    100%{
        visibility: visible; 
    }
    
}
